* {
  margin: 0;
  padding: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-color: #e2e6ea;
}

/* Start Navbar */
nav {
  display: flex;
  height: 10vh;
  background-color: #f4f3f3;
}

nav div {
  display: flex;
  flex: 1;
  align-items: center;
}

nav div a {
  font-size: 20px;
  text-decoration: none;
  color: black;
}

.nav-left {
  margin-left: 100px;
  display: flex;
  align-items: center;
  gap: 50px;
}

.logo {
  width: 70px;
}

.home {
  font-weight: bold;
}

.nav-right {
  display: flex;
  justify-content: end;
  margin-right: 100px;
  align-items: center;
}

.nav-right a {
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 8px 18px;
  font-size: 15px;
  font-weight: 550;
}
/* End Navbar */
